p {
  color: red;
}

.my-photos-ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
  .my-photos-ul li {
    margin-left: 5px;
    display: inline;
  }

  .my-photos-ul img {
    border: 1px solid black;
  }

/*a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

  a.darken img {
      display: block;

      -webkit-transition: all 0.5s linear;
         -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
           -o-transition: all 0.5s linear;
              transition: all 0.5s linear;
  }

  a.darken:hover img {
      opacity: 0.4;
  }*/

  a.darken:hover img {
      opacity: 0.4;
  }
