p {
  color: red;
}

body {
  padding: 0px;
  margin: 0px;
}

.my-photos-ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
  .my-photos-ul li {
    margin-left: 5px;
    display: inline;
  }

  .my-photos-ul img {
    border: 1px solid black;
  }

div .photo {
  display: inline;
  padding: 3px;
}

/*a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

  a.darken img {
      display: block;

      -webkit-transition: all 0.5s linear;
         -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
           -o-transition: all 0.5s linear;
              transition: all 0.5s linear;
  }

  a.darken:hover img {
      opacity: 0.4;
  }*/

div.photos {
  margin: 5px;
}

a.darken img {
  border: 1px black solid;
}

a.darken:hover img {
    opacity: 0.4;
}
